* {
    box-sizing: border-box;
}

body {
    background-color: #fefae0;
    margin: 0px;
}

header {
    background-color: #d4a373;
    color: #582f01;
    margin: 0px;
    padding: 20px;
}

.title {
    text-align: left;
}

.motto {
    text-align: right;
}

nav {
    background-color: #faedcd;
    text-align: center;
}

nav a {
    display: inline-block;
    padding: 18px 10px;
}

